body{
    background-color: rgb(180, 230, 120);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

.header {
    position: relative;
    text-align: center;
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        90deg,
        rgb(180, 230, 120) 0%,
        rgb(96, 230, 120)  30%,
        rgb(96, 230, 120)  70%,
        rgb(180, 230, 120) 100%
    );
    z-index: 1;
    opacity: 0.6;
}

.header * {
    position: relative;
    z-index: 2;
}

.header img {
    display: block;
    margin: 0 auto;
}

h2,h3,h1 {
    text-decoration: underline;
}

footer h1 {
    border-top: 5px solid rgb(133, 194, 133);
    width: 300px;
    margin: left;
    padding-top: 10px;
    border-top-right-radius: 10px;
}

.borde {
    border-top: 5px solid rgb(133, 194, 133);
    width: 300px;
    margin: left;
    padding-top: 10px;
    border-top-right-radius: 10px;
}